/* General Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Navigation */
nav {
  background-color: #444;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Layout */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-layout {
  display: flex;
  gap: 1.5rem;
  width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}

/* About Section */
.about {
  text-align: center;
  margin: 2rem 0;
  max-width: 700px;
}

.about img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* Sidebar */
.sidebar {
  flex: 1;
  background-color: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: auto;
}

input {
  padding: 0.8rem;
  width: 90%;
  max-width: 300px;
  margin: 1rem auto;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #3498db;
  outline: none;
}

/* Projects Section */
.projects {
  flex: 3;
  /* display: grid; */
  /* flex-direction: column; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.project {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 1rem;
  /* max-width: 250px; */
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .project img {
  max-width: 100px;
  border-radius: 8px;
} */
.project-img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dddddd;
}
.title {
  /* width: 200px; */
}
.description {
  /* width: 200px; */
  margin-top: -70px;
}

.addProject {
  margin-top: 3rem;
}

/* Contact Section */
#contact {
  text-align: center;
  margin-top: 2rem;
}

#contact a {
  color: #66ccff;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

footer a {
  color: #66ccff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Loader */
.loader {
  /* display: none; */
  margin: 2rem auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
